@font-face {
  font-family: "cahoots-type";
  src: url("FINISHED CAHOOTS TYPE (INC SPACING).ttf") format("truetype");
}
@font-face {
  font-family: "futura-light";
  src: url("FuturaStd-Light.otf");
}
@font-face {
  font-family: "futura-med";
  src: url("FuturaStd-Medium.otf");
}
@font-face {
  font-family: "futura-book";
  src: url("FuturaStd-Book.otf");
}
@font-face {
  font-family: "futura-heavy";
  src: url("FuturaStd-Heavy.otf");
}
@font-face {
  font-family: "futura-bold";
  src: url("FuturaStd-Bold.otf");
}
@font-face {
  font-family: "DIN-NG";
  src: url("DINNeuzeitGroteskStd-Light.otf");
}
html,
body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f1ebdd;
  font-family: "cahoots-type", "Futura", sans-serif;
  text-transform: uppercase;
}
canvas {
  height: 100%;
  width: 100%;
}
.section {
  padding-top: 0.2em;
  padding-bottom: 7em;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  background-color: #f1ebdd;
}
.secton.front {
  padding-bottom: 3em;
}
.corner {
  position: block;
  margin: 0;
  padding: 10px;
  z-index: 3;
  font-size: 5vw;
  text-align: center;
}
.top-co {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 3;
}
.top-co .corner.left {
  padding-bottom: 10px;
}
.top-co .corner.right {
  padding-top: 0;
}
a.googlemap:link,
a.googlemap:visited {
  color: #000000;
  text-decoration: none;
}
a.googlemap:active,
a.googlemap:hover {
  color: #d92a2f;
}
.brand {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 12vw;
  font-weight: 600;
  z-index: 3;
}
.btm-co {
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 3;
}
.touchevents .bk-circle {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
.no-touchevents .bk-circle {
  display: none;
}
.touchevents canvas {
  display: none;
}

.ootext {
  position: relative;
  display: inline-block;
}

.hidden {
  /* visibility: hidden; */
  opacity: 0;
  /* transition-delay: 0s; */
}

.oooption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ooanimation {
  /* transition: opacity 1s ease-in-out; */
  /* transition-delay: 1s; */
}

.oooption img {
  width: 100%;
  /* height: 100%; */
}

.screenprint1 {
  width: 30%;
  height: auto;
  z-index: 20;
  position: absolute;
  /* bottom: 10px; */
  top: 0px;
  /* opacity: 0.5; */
  /* background-blend-mode: multiply; */
  mix-blend-mode: multiply;
}

.screenprint2 {
  width: 16%;
  height: auto;
  z-index: 20;
  position: absolute;
  /* bottom: 10px; */
  top: -200px;
  right: -1px;
  /* opacity: 0.5; */
  /* background-blend-mode: multiply; */
  mix-blend-mode: multiply;
}

.screenprint3 {
  width: 25%;
  height: auto;
  z-index: 20;
  position: absolute;
  /* bottom: 10px; */
  top: 340px;
  right: 0px;
  /* opacity: 0.5; */
  /* background-blend-mode: multiply; */
  mix-blend-mode: multiply;
}

.screenprint4 {
  width: 30%;
  height: auto;
  z-index: 20;
  position: absolute;
  /* bottom: 10px; */
  top: 500px;
  left: 0px;
  /* opacity: 0.5; */
  /* background-blend-mode: multiply; */
  mix-blend-mode: multiply;
}

.screenprint5 {
  width: 20%;
  height: auto;
  z-index: 20;
  position: absolute;
  /* bottom: 10px; */
  top: 600px;
  right: -5px;
  /* opacity: 0.5; */
  /* background-blend-mode: multiply; */
  mix-blend-mode: multiply;
}

.screenprint6 {
  width: 30%;
  height: auto;
  z-index: 20;
  position: absolute;
  /* bottom: 10px; */
  top: 850px;
  left: -10px;
  /* opacity: 0.5; */
  /* background-blend-mode: multiply; */
  mix-blend-mode: multiply;
}

.screenprint7 {
  width: 21.9%;
  height: auto;
  z-index: 20;
  position: absolute;
  /* bottom: 10px; */
  top: 1210px;
  right: -1px;
  /* opacity: 0.5; */
  /* background-blend-mode: multiply; */
  mix-blend-mode: multiply;
}

.screenprint8 {
  width: 25%;
  height: auto;
  z-index: 20;
  position: absolute;
  /* bottom: 10px; */
  top: 1450px;
  left: -30px;
  /* opacity: 0.5; */
  /* background-blend-mode: multiply; */
  mix-blend-mode: multiply;
}

/* .ooimage {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 12vw;
  font-weight: 600;
  z-index: 3;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
} */

/* ABOUTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT */
.about {
  margin-top: 3em;
}
.section.about {
  min-height: 80vh;
}
.brand-about {
  padding: 50px 0 30px 0;
  font-size: 12vw;
  font-weight: 600;
  text-align: center;
}
.about-info {
  max-width: 80%;
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  margin: 0 auto;
  font-size: 5vw;
  font-family: "DIN-NG", sans-serif;
  text-transform: none;
  line-height: 1.3;
}
/* .brand-in-text {
  font-family: "cahoots-type", "Futura", sans-serif;
  text-transform: uppercase;
  padding: 0 3px;
  font-size: 4.25vw;
} */
.tablet-text {
  display: none;
}
.laptop-text {
  display: none;
}

/* PROMOTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */
.promote {
  margin-top: 3em;
}
.brand-pro {
  /* transform: translateX(1%); */
  padding: 50px 0 30px 0;
  font-size: 12vw;
  font-weight: 600;
  text-align: center;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 15vh;
  height: 0;
}
.videoWrapper iframe {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70vw;
  height: 39.375vw;
}
.promote-lk {
  padding-top: 4em;
  width: 100%;
}
.vimeo-lk {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
a.vimeo-lk:visited,
a.vimeo-lk:link {
  color: #000000;
  text-decoration: none;
}
a.vimeo-lk:hover,
a.vimeo-lk:active {
  color: #d92a2f;
  text-decoration: none;
}

/* WORKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK */
.work {
  margin-top: 3em;
}
.brand-work {
  padding: 50px 0 30px 0;
  font-size: 12vw;
  font-weight: 600;
  text-align: center;
}
.grid-container {
  display: grid;
  justify-content: center;
  grid-row-gap: 10px;
  padding: 10px 40px 50px;
  background-color: #f1ebdd;
}
.grid-container div,
.grid-container a {
  text-align: center;
  padding: 0 0;
}
.container {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 5px solid #000000;
}
.top-lay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: #f1ebdd;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
}
.overlay-gd {
  box-sizing: border-box;
  border: 5px solid #000000;
}
.overlay-ill {
  box-sizing: border-box;
  border: 5px solid #000000;
}
.text {
  font-size: 5vw;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text-gd {
  color: #000000;
}
.text-ill {
  color: #000000;
}

/* DETAILSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
.info {
  margin-top: 3em;
}
.brand-info {
  padding: 50px 0 30px 0;
  font-size: 12vw;
  font-weight: 600;
  text-align: center;
}
.info-sec {
  min-height: 150vh;
  position: relative;
  max-width: 80%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  margin: 0 auto;
  font-size: 2vh;
  text-transform: none;
}
.detail-box {
  height: 100%;
  width: 100%;
  padding-bottom: 4em;
  font-family: "DIN-NG", sans-serif;
  line-height: 1.3;
}
.detail-heading {
  font-weight: 900;
  font-family: "cahoots-type", "Futura", sans-serif;
}
.detail-contact {
  padding-top: 4em;
}
.gmail {
  font-size: 2vh;
  display: inline-block;
  position: relative;
}
a.mail:visited,
a.mail:link {
  color: #000000;
  text-decoration: none;
}
a.mail:hover,
a.mail:active {
  color: #d92a2f;
  text-decoration: none;
}
.insta {
  padding-top: 0.5em;
}
.instagram img {
  width: 30px;
  height: 30px;
}
.instagram img:hover {
  transform: scale(0.8);
  transition-duration: 0.1s;
}
.mapWrapper {
  position: relative;
  padding-top: 15vh;
  height: 0;
}
.mapWrapper iframe {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80vw;
  height: 80vw;
}
.detail-coder {
  display: block;
  font-size: 3vw;
  width: 100%;
  position: absolute;
  bottom: 2%;
  text-align: center;
  transform: translate(-4%, 0);
  font-family: "DIN-NG", sans-serif;
}
/* /FOOTERRRRR////////////////////////////////////////////////////////// */
#footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  font-family: "cahoots-type", "Futura", sans-serif;
  font-size: 1em;
  z-index: 50;
  background: #f1ebdd;
}
.buttons {
  display: none;
  text-align: center;
}
.scroll-to-bu {
  display: inline-block;
  margin: 0.5em 6em;
  cursor: pointer;
}
.scroll-to-bu:hover, .scroll-to-bu:active {
  color: #d92a2f;
}
a.coders:visited,
a.coders:link {
  color: #000000;
  text-decoration: none;
}
a.coders:hover,
a.coders:active {
  color: #d92a2f;
  text-decoration: none;
}

/* MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
@media screen and (min-width: 480px) {
  .brand {
    font-size: 8vw;
  }
  .section {
    margin-bottom: 7em;
  }
  .map-br {
    display: none;
  }
  .top-co {
    top: 5%;
  }
  .corner {
    position: absolute;
    font-size: 2vw;
  }
  .corner.top {
    top: 0;
  }
  .corner.left {
    left: 5%;
  }
  .corner.right {
    right: 5%;
    text-align: right;
  }
  .top-co .corner.right {
    padding-top: 10px;
  }
  #front-mid-text {
    font-size: 2vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .brand-about {
    font-size: 6vh;
    padding-top: 2em;
  }
  .brand-pro {
    font-size: 6vh;
    padding-top: 2em;
  }
  .brand-work {
    font-size: 6vh;
    padding-top: 2em;
  }
  .brand-info {
    font-size: 6vh;
    padding-top: 2em;
  }
  .section.about {
    padding-bottom: 3em;
  }
  .about-info {
    max-width: 55%;
    font-size: 2vw;
  }
  /* .brand-in-text {
    font-size: 2.5vw;
  } */
  .phone-text {
    display: none;
  }
  .tablet-text {
    display: block;
  }
  .laptop-text {
    display: none;
  }
  .text {
    font-size: 3vw;
  }
  .videoWrapper {
    padding-bottom: 60%; /* 16:9 */
    padding-top: 10vh;
  }
  .videoWrapper iframe {
    width: 75vw;
    height: 42.1875vw;
  }
  .promote-lk {
    padding-top: 1em;
  }
  .vimeo-lk {
    font-size: 3vw;
  }
  .grid-container {
    padding: 40px 180px 100px;
  }
  .info-sec {
    max-width: 70%;
    min-height: 140vh;
    font-size: 2.5vh;
    font-weight: 700;
  }
  .detail-box {
    padding-bottom: 2em;
  }
  .gmail {
    font-size: 2.5vh;
  }
  .mapWrapper {
    padding-top: 15vh;
  }
  .mapWrapper iframe {
    width: 75vw;
    height: 50vw;
  }
  .detail-coder {
    font-size: 2vw;
    text-align: center;
  }
  #footer {
    bottom: 5%;
    background: none;
  }
  .buttons {
    display: block;
  }
  .scroll-to-bu {
    padding: 0.2em;
    margin: 0.5em 3.5em;
  }
}
/* LAPTOP////////////////////////////////////////////////////////////// */
@media screen and (min-width: 769px) {
  .brand {
    font-size: 8vw;
  }
  .corner {
    font-size: 1vw;
  }
  .btm-co {
    bottom: auto;
  }
  #front-mid-text {
    font-size: 1vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .brand-about {
    font-size: 4vw;
    padding-top: 0.75em;
    padding-bottom: 0.5em;
  }
  .brand-pro {
    font-size: 4vw;
    padding-top: 0.75em;
    padding-bottom: 0.5em;
  }
  .brand-work {
    font-size: 4vw;
    padding-top: 0.75em;
    padding-bottom: 0.5em;
  }
  .brand-info {
    font-size: 4vw;
    padding-top: 0.75em;
    padding-bottom: 0.5em;
  }
  .section.about {
    padding-bottom: 6em;
  }
  .about-info {
    max-width: none;
    width: 640px;
    font-size: 18px;
  }
  /* .brand-in-text {
    font-size: 18px;
  } */
  .phone-text {
    display: none;
  }
  .tablet-text {
    display: none;
  }
  .laptop-text {
    display: block;
  }
  .videoWrapper {
    padding-bottom: 30%; /* 16:9 */
    padding-top: 1em;
  }
  .videoWrapper iframe {
    width: 50vw;
    height: 28.125vw;
  }
  .promote-lk {
    padding-top: 0;
    padding-bottom: 3em;
  }
  .vimeo-lk {
    font-size: 3vh;
  }
  .text {
    font-size: 2vw;
  }
  .overlay {
    opacity: 0;
  }
  .top-lay {
    opacity: 0;
  }
  .container:hover .overlay {
    opacity: 0.9;
  }
  .container:hover .top-lay {
    opacity: 0.8;
  }
  .grid-container {
    grid-row-gap: 30px;
  }
  .grid-container {
    display: grid;
    grid-gap: 30px;
    padding: 20px 40px 50px 100px;
    grid-template-columns: auto auto auto auto;
  }
  .info-sec {
    min-height: 120vh;
    font-size: 18px;
  }
  .detail-contact {
    padding-top: 3em;
  }
  .detail-box {
    padding-bottom: 4em;
  }
  .gmail {
    font-size: 18px;
  }
  .mapWrapper {
    position: absolute;
    top: 2%;
    right: 0%;
    padding-bottom: 37%; /* 16:9 */
    padding-top: 2em;
  }
  .mapWrapper iframe {
    width: 35vw;
    height: 30vw;
  }
  .coders {
    margin: 0 0.25em;
  }
  .detail-coder {
    font-size: 18px;
  }
  #footer {
    bottom: 2%;
  }
  .scroll-to-bu {
    display: inline-block;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    margin-right: 5.5vw;
  }
}
@media screen and (min-width: 1500px) {
  .screenprint1 {
    width: 30%;
    top: 0px;
  }
  .screenprint2 {
    width: 16%;
    top: -200px;
  }
  .screenprint3 {
    width: 25%;
    top: 800px;
  }
  .screenprint4 {
    width: 30%;
    top: 1000px;
  }
  .screenprint5 {
    width: 20%;
    top: 1550px;
  }
  .screenprint6 {
    width: 30%;
    top: 1650px;
  }
  .screenprint7 {
    width: 21.9%;
    top: 2950px;
  }
  .screenprint8 {
    width: 25%;
    top: 2850px;
  }
}
